<div class="box-home-values">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 home-value home-value-sell">
				<h3 class="home-value-title"> Vendez </h3>
				<div>
				Revendez vos produits d'occasion en toute sécurité !<br>
				Vous êtes asuré de recevoir l'argent de vos ventes.
				</div>
				<a href=" ">RPcorpo garantit vos ventes</a>
			</div>

			<div class="col-sm-4 home-value home-value-purchase">
				<h3 class="home-value-title">	Achetez	</h3>
				<div>
				Achetez des produits d'occasion sans vous soucier !<br>
				Le vendeur recevra votre argent qu'après réception de votre achat.
				</div>
				<div>
				<a href=" ">RPcorpo garantit vos achats</a>
				</div>
			</div>

			<div class="col-sm-4 home-value home-value-security">
				<h3 class="home-value-title">
				Confidentialité et sécurité
				</h3>
				<div>
				Pour votre sécurité, vos données restent confidentielles.<br>
				L'évaluation des internautes vous aide<br>
				dans votre démarche d'achat et de vente.
				</div>
				<div>
				<a href=" ">Notre concept</a>
				</div>
			</div>
		</div>
	</div>
</div>