<div id="responsive-menu-panel" class="panel panel-default collapse fade">
	<div class="responsive-menu-panel-close pointer" data-toggle="collapse" data-target="#responsive-menu-panel">×</div>
	<div class="container">
	<p class="text-center"><a href=" "></a></p>
	<ul class="responsive-menu">
	<li><a href=" ">Passer une annonce gratuite</a></li>
	<li><a href=" ">Se connecter</a></li>
	<li><a href=" ">S'inscrire</a></li>
	</ul>
	</div>
</div>